
		body{
			max-height: 2000px;
			font-family: sans-serif;
			background: #132B33;
		}

		h1 {
		  font-size: 60px;
		  font-family: 'Racing Sans One', sans-serif;
		  color: chartreuse;
		  text-align: center;
		  padding: 15px auto;
			transform: translateY(30px);
		}

		h2 {
		  font-size: 40px;
		  font-family: 'Racing Sans One', sans-serif;
		  color: lightblue;
		  text-align: center;
		  margin: 0 auto;
		}

		.start {
		  font-family: 'Racing Sans One', sans-serif;
		}

		#instructions {
		  position: relative;
		  transform: translateY(60px);
			text-align:center;
		  color: lightblue;
		  font-size: 20px;
		  font-family: monospace;
		}



		.scoreBoard{
			color: white;
			text-shadow:0px 0px 0px #fff;
			box-shadow:0 0px 0px #aaa;
			text-align:center;
			width:482px;
			margin:0px auto 0 auto;
			border: none #ccc;
			background:transparent;
			font-weight:normal;
			position:relative;
		}
		.gameOver{
			font-weight:bold;
			font-size: 100;
			text-shadow:2px 2px 1px #fff;

			position:absolute;
			top:0;
			left:500px;
			background:transparent;
			color:red;
			width:750px;
			border:none;
			text-align:center;
			-moz-border-radius:0px;
			-webkit-border-radius:0px;
			border-radius:0px;
			z-index: 3
		}


		.gameOver2{
			font-weight:italic;
			font-size: 20;
			background: green;
			position:absolute;
			top:0;
			left:836px;
			background:red;
			color:white;
			width:100px;
			border:2px solid purple;
			text-align:center;
			-moz-border-radius:0px;
			-webkit-border-radius:0px;
			border-radius:0px;
			z-index: 3;
			border-radius: 6px;
			top:440px;
			opacity: 50%
		}

		.gameOver2:hover{
			background: purple;
			color:white;
			cursor: pointer;
			border: 2px solid red;
		}

		.replay {
		  position: absolute;
		  transform: translateY(120px) translateX(100px);
		  color: red;
		  border: 1px solid red;
		  padding: 5px;
				z-index: 3
		}

		.next{
			font-weight:bold;
			font-size: 70;
			text-shadow:2px 2px 1px #fff;
			z-index: 3;
			position:absolute;
			top:0;
			left:570px;
			background:transparent;
			color:green;
			width:600px;
			border:none;
			text-align:center;
			-moz-border-radius:0px;
			-webkit-border-radius:0px;
			border-radius:0px;
		}

		#controls {
		  position: relative;
			text-align: center;
		  color: chartreuse;
		  font-size: 30px;

		}

		#controls2 {
		  position: relative;
			text-align: center;
		  transform: translateY(20px);
		  color: white;
		  font-size: 30px;
		}

		.result {
		  font-size: 40px;
		  font-family: 'Racing Sans One', sans-serif;
		  color: chartreuse;
		  background: #002933;
		  transform: translateY(50px) translateX(100px);
		  margin: 50px;
		  text-align: center;
		  position: absolute;
		}

		#oneplayerstart { margin-top: 90px; }

		.startgame:hover {
		  cursor: pointer;
		  color: white;
		}
		.canvas {
		  display: block;
		  height: 800px;
		  width: 1400px;
		  background: #002933;
		  border: 10px solid #FFF;
		  margin: 0 auto;
		  position: relative;
			z-index:2;
			border-radius: 8px;
		}

		.game-box {
		  display: block;
		  height: 600px;
		  width: 1000px;
		  background: #002933;
		  border: 10px solid #FFF;
		  margin: 0 auto;
		  position: relative;
		}

		.messages {

			text-align:center;
		  background: transparent;
		  margin: 0 auto;
		  position: relative;
			z-index:3;
		}

		.result {
  font-size: 40px;
  font-family: 'Racing Sans One', sans-serif;
  color: chartreuse;
  background: #002933;
  transform: translateY(50px) translateX(100px);
  margin: 50px;
  text-align: center;
  position: absolute;
}
