<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="https://cdn3.iconfinder.com/data/icons/transformers/Internet-Explorer.png" sizes="16x16">
<link rel="icon" type="image/png" href="https://cdn3.iconfinder.com/data/icons/transformers/Internet-Explorer.png" sizes="32x32">
  <title>Starbomber</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Racing Sans One' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
